.section-about
{
    min-height: 652px;

    background-color: $color-gray-light;

    &__conteiner
    {
        display: grid;

        max-width: 1340px;
        min-height: 652px;
        margin: 0 auto;

        background-color: $color-gray-light;

        grid-template-areas: 'sd1 sd2';
        grid-template-columns: 2.5fr 1fr;
        @include sm
        {
            grid-template-areas: 'sd1' 'sd2';
            grid-template-columns: 1fr;
        }
    }

    &__conteinerLeft
    {
        font-size: $font-size-18;

        padding: 0 $gap;

        grid-area: sd1;
        @include md
        {
            font-size: $font-size;
        }
    }
    &__title
    {
        font-family: $font-header;
        font-size: $font-size-40;
        line-height: 1.2;

        padding: 65px 0 17px 0;

        letter-spacing: .245rem;

        color: $color-primary;

        @include lg-md
        {
            font-size: $font-size-32;
        }
        @include md-sm
        {
            font-size: $font-size-24;
        }
        @include sm
        {
            font-size: $font-size-24;

            text-align: center;
        }
    }
    &__conteinerRight
    {
        display: flex;

        padding-top: 29px;

        grid-area: sd2;
        justify-content: center;
        align-items: center;
    }
    &__img
    {
        min-width: 271px;
        min-height: 487px;

        background-position: 50% 50%;
    }

    &__separator
    {
        float: left;

        height: 200px;
        margin: 30px 35px 0;

        border-left: 2px solid #ccc;

        @include sm
        {
            display: none;
        }
    }
}



