.form-section
{
    min-height: $gap*6;

    background-color: $color-primary;

    &__conteiner
    {
        max-width: 1340px;
        min-height: $gap*6;
        margin: 0 auto;
        padding: 30px $gap;
    }
    &__form
    {
        display: grid;

        gap: $gap;
        grid-template-areas: 'fr1 fr2 fr3';
        grid-template-columns: repeat(3,1fr);
        @include md
        {
            grid-template-columns: repeat(2,1fr);
            grid-template-areas: 'fr1 fr1' 'fr2 fr3 ';
        }
        @include sm
        {
            grid-template-columns: 1fr;
            grid-template-areas: 'fr1' 'fr2' 'fr3';
        }
    }

    &__name
    {
        font-size: $font-size-18;

        width: 100%;
        padding: 21px 30px;

        letter-spacing: .1rem;

        border: none;
        outline: none;
        background-color: #38405a;

        &:focus,
        &:hover
        {
            color: $color-light;
            border-bottom: 1px solid $color-light;
        }
        &:focus,
        &:hover::placeholder
        {
            color: $color-light;
        }
    }
    &__email
    {
        font-size: $font-size-18;

        width: 100%;
        padding: 21px 30px;

        letter-spacing: .1em;

        border: none;
        outline: none;
        background-color: #38405a;
        &:focus,
        &:hover
        {
            color: $color-light;
            border-bottom: 1px solid $color-light;
        }
        &:focus,
        &:hover::placeholder
        {
            color: $color-light;
        }
    }
    &__namebox
    {
        grid-area: fr1;
    }
    &__emailbox
    {
        grid-area: fr2;
    }
    &__button
    {
        font-size: $font-size-18;

        width: 100%;
        padding: 21px 18px;

        transition: background-color .5s ease;
        transition: border-color .5s ease;
        letter-spacing: .1rem;

        color: $color-gray-light;
        border: none;
        border: 1px solid #424b63;
        background-color: #424b63;

        grid-area: fr3;

        &:hover,
        &:focus
        {
            color: $color-light;
            border: 1px solid $color-light;
            background-color: $color-accent ;
        }
        &:hover,
        &:focus::placeholder
        {
            color: $color-light;
        }
    }
}



