.section-posts
{
    padding: 100px 0 ;

    @include lg-md
    {
        padding: 80px 0 ;
    }
    @include md-sm
    {
        padding: 60px 0 ;
    }
    @include sm
    {
        padding: 60px 0 ;
    }
    &__conteiner
    {
        max-width: 1340px;
        margin: 0 auto;
        padding: 0 $gap;
    }
    &__title
    {
        font-family: $font-header;
        font-size: 2.5rem;

        margin-top: 0;
        margin-bottom: 56px;

        letter-spacing: .25rem;

        color: $color-primary;

        @include lg-md
        {
            font-size: $font-size-32;

            margin-bottom: 42px;
        }
        @include md-sm
        {
            font-size: $font-size-24 ;

            margin-bottom: 36px;
        }
        @include sm
        {
            font-size: $font-size-24;

            margin-bottom: 36px;

            text-align: center;
        }
    }



    &__posts
    {
        display: grid;

        gap: $gap;
        grid-template-areas: 'p1 p1 p2 p3' 'p4 p5 p6 p6';
        grid-template-columns: repeat(4, 1fr);
        @include lg-md
        {
            grid-gap: $gap;
            grid-template-areas: 'p1 p1 p2' 'p3 p4 p4' 'p5 p5 p6';
            grid-template-columns: repeat(3, 1fr);
        }
        @include md-sm
        {
            grid-gap: $gap;
            grid-template-areas: 'p1 p2' 'p3 p4' 'p5 p6';
            grid-template-columns: repeat(2, 1fr);
        }
        @include sm
        {
            grid-gap: $gap;
            grid-template-areas: 'p1' 'p2' 'p3' 'p4' 'p5' 'p6';
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__blog
    {
        display: grid;

        background-repeat: no-repeat;
        &:nth-of-type(1)
        {
            grid-area: p1;
        }

        &:nth-of-type(2)
        {
            grid-area: p2;
        }

        &:nth-of-type(3)
        {
            grid-area: p3;
        }

        &:nth-of-type(4)
        {
            grid-area: p4;
        }

        &:nth-of-type(5)
        {
            grid-area: p5;
        }

        &:nth-of-type(6)
        {
            grid-area: p6;
        }
    }
    &__img
    {
        display: grid;
        overflow: hidden;

        width: 100%;
        height: 100%;

        transition: transform .5s ;

        background-repeat: no-repeat;
        background-position: 50% 50%;

        object-fit: cover;
    }



    &__link
    {
        display: grid;
        overflow: hidden;

        min-height: 300px;

        grid-template-rows: 300px 1fr;

        &:hover
        {
            .section-posts__content
            {
                background-color: rgba(99, 117, 136,.250) !important;
            }

            .section-posts__img
            {
                transform: scale(1.1);
            }
        }
    }


    &__contentup
    {
        overflow: hidden;
    }


    &__content
    {
        display: grid;
        overflow: hidden;

        padding: $gap ;

        transition: background-color .5s;
        text-align: center;

        background-color: rgba(229, 229, 229,.5) !important;

        align-content: center;
        justify-items: center;

        h3
        {
            font-family: 'Roboto Slab', serif;

            color: $color-gray;
        }

        p
        {
            text-align: center;

            color: $color-gray;
        }
    }
    &__buton
    {
        display: flex;

        margin: 0 $gap;
        padding-top: $gap;

        background-color: rgba(255, 255, 255, .1);

        justify-content: center;
        @include sm
        {
            margin: 0;
        }
    }
    &__btn
    {
        font-size: $font-size-18;

        display: flex;

        min-width: 350px;
        height: 60px;
        padding: 18px $gap;

        transition: background-color .5s;
        letter-spacing: .1em;

        border: 2px solid #2d3651;
        background-color: rgba(45, 54, 81, .8);

        justify-content: center;
        align-items: center;
        @include sm
        {
            width: 100%;
            min-width: 0;
        }

        &:hover,
        &:focus
        {
            background-color: $color-accent;
        }
    }
}

