.section-about
{
    min-height: 652px;

    letter-spacing: .055em;

    background-color: $color-gray-light;


    &__conteiner
    {
        display: grid;

        max-width: 1340px;
        max-width: 1340px;
        margin: auto;
        padding: $gap*5 $gap $gap*5 $gap;

        background-color: $color-gray-light;

        grid-template-areas: 'sd1 sd3 sd2 ';
        grid-template-columns: 2fr .2fr   271px;
        @include lg-md
        {
            padding-top: $gap*4 ;
            padding-bottom: $gap*4;
        }
        @include md
        {
            padding-top: $gap*3 ;
            padding-bottom: $gap*3;
        }
        @include sm
        {
            grid-template-areas: 'sd1' 'sd2';
            grid-template-columns: 1fr ;
        }
    }

    &__conteinerleft
    {
        font-size: $font-size-18;

        @include lg-md
        {
            p
            {
                font-size: 1rem;
            }
        }
        grid-area: sd1;

        @include sm-min
        {
            p:first-of-type
            {
                position: relative;
                &::after
                {
                    position: absolute;
                    top: 0;
                    right: -44px;

                    width: 2px;
                    height: 200px;

                    content: '';

                    background-color: rgba(99, 117, 136, .1);
                }
            }
        }
        @include md
        {
            font-size: $font-size;
        }
        & p:first-of-type
        {
            margin-top: -5px;
        }
        & p:last-of-type
        {
           margin: 0;
        }
    }
    &__title
    {
        font-size: $font-size-40;

        margin-top: 0;
        margin-bottom: 56px;

        color: $color-primary;

        @include lg-md
        {
            font-size: $font-size-32;

            margin-bottom: 42px;
        }
        @include md-sm
        {
            font-size: $font-size-24;

            margin-bottom: 36px;
        }
        @include sm
        {
            font-size: $font-size-24;

            margin-bottom: 36px;

            text-align: center;
        }
    }
    &__conteinerright
    {
        display: grid;

        padding: 10px 0 0 0;

        grid-area: sd2;
        align-content: space-between;
        justify-items: center;
        @include lg-sm
        {
            align-content: center;
        }
    }
    &__img
    {
        max-width: 100%;
        max-height: 480px;

        background-position: 50% 50%;
    }
}



