*
{
    box-sizing: border-box;
}

html
{
    font-family: $font-main;
    font-size: $font-size;

    overflow-x: hidden;
    overflow-y: scroll;

    color: $color-gray;
}
h5
{
    font-size: 18px;

    margin: 0 ;

    letter-spacing: .08em;
}

a
{
    text-decoration: none;

    color: $color-light;
}


h2
{
    font-family: $font-header;
    line-height: 1.2em;

    letter-spacing: .1em;
}

h3
{
    font-size: 1.125rem;

    letter-spacing: .05em;

    color: #637588;
}

