*
{
    box-sizing: border-box;
    
}

html
{
    font-family: $font-main;
    font-size: $font-size;

    overflow-y: scroll;
    overflow-x: hidden; 

    color: $color-gray;
}
h5{
    font-size: 18px;
    letter-spacing: 0.08em;
    margin: 0 ;
}

h1
{
    font-family: $font-header;
    font-size: $font-size-60;

    @include lg-min
    {
        font-size: $font-size-60;
    };
    @include lg-md
    {
        font-size:$font-size-40;
    };
    @include md
    {
        font-size: $font-size-40;
    }
}
a{
    text-decoration: none;
    color: $color-light;
}



           


