.footer
{
    padding: 61px 20px 70px;

    background-color: $color-primary ;
    &__conteiner
    {
        display: flex;
        flex-direction: column;

        max-width: 1340px;
        margin: 0 auto;
        margin-bottom: 50px;

        align-items: center;
    }

    &__menu
    {
        position: relative;

        display: flex;

        width: 237px;

        justify-content: center;
        justify-content: space-between;

        &::after
        {
            position: absolute;
            bottom: -30px;
            left: calc(50% - 75px / 2);

            width: 75px;
            height: 2px;

            content: '';

            background-color: rgba(255, 255, 255, .1);
        }
    }
    &__link
    {
        transition: color .5s;
        i
        {
            font-size: 35px;
        }

        &:hover,
        &:focus
        {
            color: chocolate;
        }
    }
    &__title
    {
        display: block;

        text-align: center;
    }

    &__logo
    {
        font-size: $font-size;
        font-weight: 100;
        // margin-top: 30px;

        margin-right: -.5em;

        letter-spacing: .33em;
    }
    &__logo2
    {
        font-weight: 700;

        letter-spacing: .05em;

        color: #fff;
        color: #e5e5e5;
    }
}












