
$font-header: 'Roboto Slab', serif;
$font-main: 'Roboto', sans-serif;
$font-size: 1rem;
$font-size-18: 1.125rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
$font-size-40: 2.5rem;
$font-size-60: 3.75rem;

$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$gap: 20px;
