.skill-item
{
    position: relative;

    display: grid;
    overflow: hidden;

    min-height: calc(33.33vh - 20px * .66);
    padding: 20px;

    background-color: $color-primary;

    align-items: center;
    justify-items: center;
    @include md-height
    {
        min-height: calc(230px - 20px * .66);
    }

    &__image
    {
        transition: .5s;

        background-position: 50% 50%;
        background-size: cover;

        @include abs-position;
        @include abs-position;
    }
    &__overlay
    {
        z-index: 1;

        transition: opacity .5s;

        opacity: .8;
        background-color: $color-primary;

        @include abs-position;
    }
    &__title
    {
        font-size: 1.25rem;

        z-index: 2;

        margin: 0;

        letter-spacing: .1em;

        @include abs-position;
    }
    &__link
    {
        display: flex;

        height: 100%;
        padding: $gap;

        transition: color .5s;

        justify-content: center;
        align-items: center;
    }

    &:hover
    {
        .skill-item__overlay
        {
            opacity: .95;
        }
        .skill-item__image
        {
            transform: scale(1.1);
        }
        .skill-item__link
        {
            transition: background-color .5s;

            opacity: .8;
            color: $color-accent;
            background-color: $color-primary;
        }
    }
}
