
.header-navbar
{
    display: flex;
    &__link
    {
        font-size: $font-size-18;

        display: block;

        padding: $gap;
        padding: 0  0  $gap 40px ;
        padding-right: 0;

        transition: color .5s;
        letter-spacing: .09em;
        &:hover,
        &:focus
        {
            color: $color-accent;
        }
    }
    &__list
    {
        display: grid;

        width: 100%;

        letter-spacing: .09em;

        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
        justify-content: end;
        @include unlist ( 0 -$gap 0 0);
        @include md
        {
            position: absolute;
            top: 0;
            right: 200px;

            display: block;

            background: transparent;
        }
    }

    &__btn
    {
        display: none;

        padding: $gap;
    }
}


