.header-content
{
    position: relative;

    width: 100%;

    &__title
    {
        font-family: $font-header;
        font-size: $font-size-60;
        font-weight: 300;
        line-height: 1.2;

        max-width: 1340px;
        max-width: 1340px;
        margin: auto;
        margin: auto;
        padding: 0 $gap 53px $gap;

        text-align: center;
        letter-spacing: .08em;

        color: $color-light;

        @include lg-min
        {
            font-size: $font-size-60;
        };
        @include lg-md
        {
            font-size: $font-size-40;

            padding: 0 0 43px 0;
        };
        @include md
        {
            font-size: 1.875rem;

            padding: 0 0 43px 0;
        }
    }
    &__container
    {
        max-width: 1340px;
        margin: auto;
        padding: 0 $gap;
    }
    &__buttons
    {
        display: flex;

        justify-content: center;
        @include sm
        {
            display: flex;
            flex-direction: column;

            align-items: center;
        }
    }
    &__btn
    {
        font-size: $font-size-18;

        display: block;

        min-width: 250px;
        height: 60px;
        padding: 18px $gap;

        transition: background-color .5s ;
        text-align: center;
        letter-spacing: .1em;

        border: 2px solid $color-light;
        background-color: rgba(255,255,255,.1);

        @include lg-min
        {
            min-width: 250px;
            height: 60px;
        };
        @include lg-md
        {
            font-size: $font-size;

            min-width: 200px;
            height: 50px;
            padding: 14px $gap;
        };
        @include md
        {
            font-size: 1rem;

            min-width: 170px;
            height: 40px;
            padding-top: 10px;

            letter-spacing: .05em;
        }
        @include sm
        {
            &:last-of-type
            {
                margin-top: 20px ;
            }
            &:first-child
            {
                margin-right: 0;
            }
        }


        &:hover,
        &:focus
        {
            background-color: $color-accent ;
        }
        &:first-of-type
        {
            margin-right: $gap;
        }
    }
}

