.header-menu
{
    position: absolute;
    top: 0;

    width: 100%;

    @include md
    {
        background-color: rgba(68, 89, 110, .25);
    }

    &__container
    {
        display: grid;

        max-width: 1340px;
        margin: auto;
        padding-right: $gap;
        padding-left: $gap;

        grid-template-columns: auto 1fr;
        align-items: center;
    }
}

